<div class="container py-5">
  <div class="d-flex align-items-center justify-content-between mb-3">
    <h1 class="text-primary" class="mb-0">All Books Available</h1>
    <%= link_to "Add a new book", new_book_path, class: "btn btn-book" %>
  </div>

<div class="container mt-5">
  <div class="row justify-content-center">
    <div class="col-sm-8 my-3">
      <%= form_with url: books_path, method: :get, class: "d-flex" do %>
        <%= text_field_tag :query, params[:query], class: "form-control", placeholder: "Find your next book" %>
        <%= submit_tag "Search", name: "", class: "btn btn-primary ms-2" %>
      <% end %>
    </div>
  </div>

  <div class="row justify-content-center">
    <div class="col-sm-8">
      <div id="movies" class="row mt-5">
        <% if @books.any? %>
          <% @books.each do |book| %>
            <div class="col-sm-3 mb-5">
            <%= link_to book_path(book), class:"text-decoration-none" do %>
              <div class="card-books mb-3" style="height: 60%; min-height: 200px;">
                  <div class="card-body d-flex flex-column">
                    <h4 class="card-title flex-grow-1"><%= book.title %></h4>
                    <p class="card-text"><%= book.author %></p>
                    <p class="card-price"><%= book.price %> </p>
                  </div>
              </div>
              <% end %>
            </div>
          <% end %>
        <% else %>
          <div class="col-12">
            <em>Sorry, no books found.</em>
          </div>
        <% end %>
      </div>
    </div>
  </div>
</div>
