<div class="container-book">
  <div class="book-card" style="display: flex; flex-wrap: wrap; background-color: #f9f9f9; border: 1px solid #ddd; padding: 20px; border-radius: 10px; box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);">

    <!-- Image section -->
    <div class="book-image">
      <!-- Imagen del libro (placeholder por ahora) -->
         <!--<img src="<%= @book.cover_image %>" alt="Book Image" style="width: 180px; height: 270px;  border-radius: 10px;"> -->
    
    <% if @book.photo.attached? %>

      <%= cl_image_tag(@book.photo.key, alt: @book.title, style: "width: 180px; height: 270px; border-radius: 10px;")  %>

    <% else %>
      <img src="<%= @book.cover_image %>" alt="Book Image" style="width: 180px; height: 270px;  border-radius: 10px;">

    <% end %>

    </div>

    <!-- Info section -->
    <div class="book-info">
      <div>
        <h2 ><%= @book.title %></h2>
        <p>by <strong style="color: #333;"><%= @book.author %></strong></p>
        <p>Genre: <strong style="color: #333;"><%= @book.genre %></strong></p>
        <p>Price: <strong style="color: #333;"><%= @book.price %></strong> $</p>

        <p>
          <% if @book.availability %>
            <span style="color: #28a745; font-weight: bold;">Available for renting</span>
          <% else %>
            <span style="color: #dc3545; font-weight: bold;">Not Available for renting</span>
          <% end %>
        </p>
      </div>

      <!-- Button section -->
      <div class="button-group">
      <%= link_to 'Back to overview', books_path, class: "back-to-overview-link" %>

      <% button_color = @book.availability ? '#28a745' : '#6c757d' %>
      <% clickable = @book.availability ? '' : 'pointer-events: none;' %>

        <%= link_to 'Make a booking', new_book_booking_path(@book), class: "make-a-booking-link", style: "padding: 10px 20px; color: white; background-color: #{button_color}; border-radius: 5px; text-decoration: none; display: inline-block; #{clickable}" %>

        <!-- adding a delete button and perhaps we need an edit btn -->
        <%= link_to content_tag(:i, "", class: "fa-solid fa-pencil"), edit_book_path(@book) %>
        <%= link_to content_tag(:i, "", class: "fa-solid fa-trash"),
          book_path(@book),
          data: {turbo_method: :delete, turbo_confirm: "Are you sure?"}
        %>
      </div>
    </div>
  </div>

  <!-- Reviews section -->
  <div id="reviews" class="reviews" data-review-form-target="reviews" style="margin-top: 40px;">
    <% @book.reviews.each do |review| %>
      <%= render partial: "reviews/review", locals: { review: review } %>
    <% end %>
  </div>

<div data-controller="review-form" id="review_form" style="margin-top:20px">
    <button data-action="click->review-form#toggle", class="button-review-toggle">Add a review</button>
    <div data-review-form-target="form" class="d-none">
      <%= form_with(model: [@book, @book.reviews.new], data: { action: "turbo:submit-end->review-form#submitEnd" }) do |form| %>
        <div class="form-group" style="margin-bottom: 10px;">
          <%= form.label :content, "Your Review" %>
          <%= form.text_area :content, rows: 4, style: "width: 100%; padding: 10px; border-radius: 5px; border: 1px solid #ccc;" %>
        </div>
        <%= form.submit "Submit Review", class: "submit-form"%>
      <% end %>
    </div>
  </div>
</div>
